.bash_history
.bash_sessions
.CFUserTextEncoding
.config
.dotfiles_backup
.DS_Store
.gnupg
.lesshst
.npm/
.ollama
.pyenv
.ssh
.Trash
.vim
.viminfo
.vnc
.zsh_history
.zsh_sessions
*.gz
/*.age
/*.pub
/*.zip
/bin/*zip
/bitwarden
/Desktop/Screen*
/keyboard
/technical
Applications/
Desktop/Screenshot*
Documents
Downloads
Library
list
Movies
Music
Pictures
Profiles.json
Public
t
tt
wg-privatekey
wg-publickey
wireguard-client.conf
y
yy
