.bash_history
.bash_sessions
.CFUserTextEncoding
.config
.dotfiles_backup
.claude/
.claude.json
.claude.json.backup.*
.DS_Store
.gnupg
.lesshst
.local/
.npm/
.ollama
.pyenv
.ssh
.Trash
.vim
.viminfo
.vnc
.zsh_history
.zsh_sessions
*.bck
*.gz
*.heic
/*.pdf
/*.png
__pycache__/
/tmp/
/ds-test-ds-system/
/epicAlertMonitoring/
/*.age
/*.pub
/*.zip
/bin/*zip
/bitwarden
/Desktop/Screen*
/keyboard/*.json
/keyboard/*.json_
/technical
Applications/
Desktop/Screenshot*
Documents
Downloads
Library
list
Movies
Music
Pictures
Profiles.json
Public
t
tt
wg-privatekey
wg-publickey
wireguard-client.conf
xfer/
y
yy
private/
dashboards/
.terraform.d/
Screenshot*
