# ~/.ssh/config - SSH client configuration

# Global defaults
Host *
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 60
    ServerAliveCountMax 3

# Local network hosts - update IPs as needed
Host pi
    HostName 192.168.1.50
    User pi

Host homey
    HostName 192.168.1.100
    User tmackall

Host niwot
    HostName 192.168.1.101
    User tmackall

Host nas
    HostName 192.168.1.200
    User admin

# GitHub
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
